node_modules/
npm-debug.log
.DS_Store
*.log
.env

# TypeScript
dist/
*.tsbuildinfo

# Build artifacts
public/bundle.js
public/bundle.js.map

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log

